* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 1280px;
}

plant {
    position: absolute;
    width: 608px;
    height: 912.95px;
    left: 0px;
    top: -20.47px;
}

.header {
    display: flex;
}

h1 {
    width: 523px;
    height: 166px;
    color: #156963;
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 83px;
}

.opis {
    width: 493px;
    height: 96px;
    color: #2C1500;
    opacity: 0.8;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.hp {
    padding-top: 200px;
}

.Previous {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 160px;   
}

.prenext {
    display: flex;
}
.Next {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #156963;
    width: 320px;
    height: 160px;
   
}

.Previous span {
    color: #333333;
    width: 105px;
    height: 29px;
   
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-right: 100px;
}

.Next span {
    color: #F2F2F2;;
    width: 105px;
    height: 29px;
   
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-right: 100px;
}

.Previous h3 {
    color: #156963;
    width: 208px;
    height: 39px;
   
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

.Next h3 {
    color: white;
    width: 208px;
    height: 39px;
   
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

.Next span::after {
    content: "→";
    margin-left: 4px;
}

.Previous span::before {
    content: "←";
    margin-right: 4px;
}

.rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.navbar {
    position: absolute;
    height: 60px;
    width: 1220px;
    left: 130px;
    top: 30px;
}

.logo {
    position: absolute;
    margin: auto;
    width: 36px;
    height: 36px;
    left: 15px;
    top: 15px;
}

.search {
    margin: auto;
    top: 25px;
    right: 200px;
    position: absolute;
    width: 80px;
    height: 20px;
}

.Up {
    color: #156963;
    padding: 8px 20px;
    width: 111px;
    height: 36px;
    background: white;
}

.In {
    padding: 8px 20px;
    width: 111px;
    height: 36px;
    color: white;
    background: #156963;
}

.upIn {
    position: absolute;
    right: 10px;
    top: 25px;
}


.help {
    position: absolute;
    height: 155px;
    width: 1168px;
    left: 120px;
    top: 882px;
    display: flex;
    justify-content: space-between;
}

.mult {
    height: 155px;
    width: 268px;
}

.sod {
    width: 236px;
    height: 112px;
}

.pictzug {
    display: flex;
    position: absolute;
    width: 201px;
    height: 48px;
}

h4 {
    position: absolute;
    width: 137px;
    height: 48px;
    left: 60px;
    top: 15px;
    color: #156963;
}

h5 {
    position: absolute;
    width: 236px;
    height: 48px;
    top: 55px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #2C1500;
}

.Featured {
    position: absolute;
    top: 1100px;
    left: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 876px;
    width: 1168px;
    height: 31px;
}

.feat {
    width: 162px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.cheap {-webkit-animation-delay: ;
    height: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.cheap::after {
    content: "˅";
    margin-left: 5px;
}